/*GENERAL STYLE*/
* {
	padding:0;
	margin:0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
	font-family: 'roboto', sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: 300;	
}
ul, li{
	display: block;	
	margin:0;
	padding: 0;	
}
a:hover, a:focus{
	text-decoration: none;
	color: #000;
}
.bg {
		
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.style-button {	
	border:0px; 
	margin-top: 40px;	
	line-height:21px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:10px;
	text-align:center;
	vertical-align:middle;	
	font-size:18px;
	letter-spacing: 1px;
	color:#fff;	
	padding:20px 90px;
	background: rgba(210,44,127,1);
	background: -moz-linear-gradient(45deg, rgba(210,44,127,1) 0%, rgba(210,44,127,1) 49%, rgba(254,187,3,1) 92%, rgba(254,187,3,1) 99%, rgba(254,187,3,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(210,44,127,1)), color-stop(49%, rgba(210,44,127,1)), color-stop(92%, rgba(254,187,3,1)), color-stop(99%, rgba(254,187,3,1)), color-stop(100%, rgba(254,187,3,1)));
	background: -webkit-linear-gradient(45deg, rgba(210,44,127,1) 0%, rgba(210,44,127,1) 49%, rgba(254,187,3,1) 92%, rgba(254,187,3,1) 99%, rgba(254,187,3,1) 100%);
	background: -o-linear-gradient(45deg, rgba(210,44,127,1) 0%, rgba(210,44,127,1) 49%, rgba(254,187,3,1) 92%, rgba(254,187,3,1) 99%, rgba(254,187,3,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(210,44,127,1) 0%, rgba(210,44,127,1) 49%, rgba(254,187,3,1) 92%, rgba(254,187,3,1) 99%, rgba(254,187,3,1) 100%);
	background: linear-gradient(45deg, rgba(210,44,127,1) 0%, rgba(210,44,127,1) 49%, rgba(254,187,3,1) 92%, rgba(254,187,3,1) 99%, rgba(254,187,3,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d22c7f', endColorstr='#febb03', GradientType=1 );
	
}
.style-button:hover,
.style-button:focus {	
	background-image: -moz-linear-gradient(left, #D22C80, #F9AC10);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D22C80), to(#F9AC10));
	background-image: -webkit-linear-gradient(left, #D22C80, #F9AC10);
	background-image: -o-linear-gradient(left, #D22C80, #F9AC10);
	background-image: linear-gradient(to right, #D22C80, #F9AC10);
	background-repeat: repeat-x;
	color:#FFF;
	outline: none;
}
.btn-buy {
	padding: 15px 60px;
}

/*HEADER*/
.btn-outline-primary,
.text-dark {
    color: #1e1e1e !important;
    border-color: #1e1e1e;
}
.header .menu {
	padding: 16px 0;
}
.header-text {
	padding-top: 125px;
}
.header-text h1 {
	font-size: 42px;
	font-family: 'Neo Sans Pro', sans-serif;
	font-weight:bold;
	color:#0081cd;
}

.bg-header {
	min-height: 768px;
	background-image: url("../img/bg-header.png");
	background-repeat: repeat;
	z-index: 1;	
}

.chart {
	margin-right: -33px;	
	height: 660px;
	max-width: 1028px;
	position:absolute;
	top:21px;
	left:-350px;
	overflow: hidden;
	z-index:2;
	
}

.header-text {
	position:relative;
	z-index: 50;
}
/* video youtube */

.video_wrapper {  
    /*margin: 0 auto;*/
    position: relative; 
    margin-bottom: 110px;
    margin-top: 130px;
	max-width: 575px;
	min-height: 325px;
	overflow: none;
	border:5px solid #fff;
	border-radius: 10px;
	z-index: 100;	
}
.video_wrapper_full {
  	padding-top: 315px;
}
.videoIframe {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: transparent;
}
.videoPoster {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
 	background-image:url(../img/ivano-frankivska-oblast.jpg);
  	background-repeat: no-repeat;
  	background-position: center;	
	background-size: cover;  	
  	border: none
   	text-indent: -999em;
  	overflow: hidden;
  	opacity: 1;
  	-webkit-transition: opacity 800ms, height 0s;
  	-moz-transition: opacity 800ms, height 0s;
  	transition: opacity 800ms, height 0s;
  	-webkit-transition-delay: 0s, 0s;
  	-moz-transition-delay: 0s, 0s;
  	transition-delay: 0s, 0s;
}
.videoPoster:hover {
    cursor: pointer;
}
/*button play*/
.videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -35px 0 0 -36px;  
    border-radius: 50%;
    background-color: #c6c9cb;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}
.videoPoster:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 40px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}
.videoPoster::after, .videoPoster::before {
    box-sizing: unset;
}
.videoPoster:hover:before,  .videoPoster:focus:before {
    border-color: #e9ecef;
}
.videoPoster:hover:after, .videoPoster:focus:after {
  border-left-color: #0081cd;
}
.videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
}


/*ADVANTAGES*/
 /*box-shadow: 0px 3px 3px 0px #212121;*/
.advantages,
.plan {
	padding-top:80px;
}
.advantages h1,
.about-us h1 {
	margin-bottom: 50px;
	font-size: 42px;
	font-family: 'Neo Sans Pro', sans-serif;
	font-weight:bold;
}

.item-advantages {	
	padding-bottom: 60px;
}
.item-advantages .text {
	padding-left: 20px;
	font-family: 'Roboto Regular', sans-serif;
	
}
/*CARD*/
.bg-plan {
	background-image: url("../img/bg-plan.png");
	min-height:688px;
	background-repeat: repeat;

}

.card:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition:transform 1.05s ease-in-out;
    -ms-transition:transform 1.05s ease-in-out;

    -webkit-box-shadow: 0px 0px 0px 11px rgba(233,235,237,0.32);
    -moz-box-shadow: 0px 0px 0px 11px rgba(233,235,237,0.32);
    box-shadow: 0px 0px 0px 11px rgba(233,235,237,0.32);
 
}
.plan h1 {
	padding-top:100px;
	margin-bottom: 80px;
	color:#fff;
	font-size: 42px;
	font-family: 'Neo Sans Pro', sans-serif;
	font-weight:bold;
}
.bg-word {
	font-size: 100px;
	color: #f4f4f4;
	position: absolute;
	top: -5%;
	left: 50%;
	white-space: nowrap;
	height:150px;
    width: 50%; 
    overflow: hidden;
    text-overflow: clip; 
}
.plan .card * {
	margin:0;
}
.type-plan h4 {
	height: 50px;
	padding-top: 30px;
	font-size: 24px;
	font-weight:bold;
	
}
.card-body h2 {
	padding-top: 40px;
	min-height: 80px;	
}
.card-body h2,
.card-body .text-muted {	
	color:#0081cd !important;
}
.annually {
	color: #0081cd;
	min-height: 35px;
	line-height:35px;
	opacity: 0.7;
	font-size: 18px;
}
.card-text {
	padding-top: 25px;
	min-height: 200px;
}
.card-body {
	padding: 0 30px 30px 30px;
}
.text-muted {
	padding-left: 10px;
}
.bonus {
	margin: 0;	
	padding: 8px 0;
	color:#d9436c;	 
}
.forever {	
	padding-top: 40px;
	width: 110px;
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	color:#0081cd;
}
.card-text-free {
	padding-top: 5px;	
}

/*SLIDER*/
.about-us {
	padding-top:100px;
}

.sl-item-text {
	margin-top: 45px;
	line-height:1;
	color: #1e1e1e;
}
.sl-item-date {
	margin-top: 20px;
	color: #b8d2ec;
}

.sl-item-btn {
	margin-top: 50px;
	color: #1e1e1e;
	border-color: #1e1e1e;
}


.about-us .item img {
	max-width: 200px;
	width: 100%;

}
.slick-list {
	padding: 50px 50px !important;
}
.slider {
	position: relative;
	z-index: 200;
	padding: 0 0px;
	margin: 5rem auto;
	max-width: 1050px;
	width: 100%;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	width: 40px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	border: none;	  
	color: #000;
	font-family: monospace;
	font-size: 5rem;
	z-index: 300;
	outline: none;
}
.slick-prev {
	top: 200px;
	left: -28px;
	text-align: left;
}
.slick-next {
	top: 200px;
	right: -28px;
	text-align: right;
}

.item {
	outline: none;
	background-color: #fff;	
	border-radius: 5%;
	-webkit-box-shadow: 0px 0px 30px 12px rgba(233,235,237,1);
	-moz-box-shadow: 0px 0px 30px 12px rgba(233,235,237,1);
	box-shadow: 0px 0px 30px 12px rgba(233,235,237,1);
}
.padding-item {
	padding: 30px;
}

.item.slick-slide {
    width: 575px;
    min-height: 375px;
    transition: transform .4s;
    position: relative; 
}
.slick-slide:after {
	content:'';
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	  
	transition: transform .4s;
}
.item.slick-slide.slick-center + .slick-slide {
	transform: scale(0.8) translate(-419px);
	z-index: 10;
}
.item.slick-slide.slick-active {
	transform: scale(0.8) translate(419px);
}

.item.slick-slide.slick-center {  
	transform: scale(1);
	z-index: 30;
}

.slick-center:after {
	opacity: 0;
}
/*FOOTER*/

.footer-bg {
	background-color: #e9ecef;
	min-height:271px;		
}
.logo-copyright,
.law {
	padding-top:80px;
}
.copyright {
	padding-top:25px;	
}
.law p {
	padding-left:35px;	
}
.copyright p,
.law p {
	font-family: 'Roboto Regular', sans-serif;
	font-size:14px;
}
.law p:first-child {
	margin-left:auto;
}
.copyright p {
	margin-bottom: 0;
}
.social a {
	padding-left:35px;
}
.social {
	padding-top:45px;
	text-align: end;
}
.SOFTBERRY,
.law p {
	color:#0081cd;
}

@media (max-width: 1200px) {
	.btn-buy {
		padding: 10px 25px;
	}	
	.chart {	
		top:21px;		
	}

	.item.slick-slide.slick-center + .slick-slide {
		transform: scale(0.8) translate(-500px);
		z-index: 10;
	}
	.item.slick-slide.slick-active {
		transform: scale(0.8) translate(500px);
	}
	.item.slick-slide.slick-center {	  
		transform: scale(1);
		z-index: 30;
	}
	.slick-prev {	
		left: -10px;
		text-align: left;
	}
	.slick-next {	
		right: -10px;
		text-align: right;
	}
	.bonus {
		padding: 3px 0;
	}
}
@media (max-width: 998px) {
	.video_wrapper {
		margin:50px 0;
	}
	.header-text,
	.advantages,
	.about-us {
    	padding-top: 50px;
	}
	.advantages-character {
		max-height: 300px;
		padding-bottom: 20px;
	}
	.plan,
	.social {
    	padding-top: 0px;
	}
	.plan h1,
	.logo-copyright,
	.law {
    	padding-top: 25px;
    	margin-bottom: 25px;
	}
	.slider,
	.logo-copyright,
	.copyright,
	.law  {
		margin:0;
	}
	.btn-buy {
		padding: 15px 60px;
	}
	.chart {
		display: none;
	}
	.bg-header {		
		background-image: url("../img/bg-header-chart.png");				
	} 
 	.text-muted {
 		display: block;
 		padding-left:0;
 	}
 	.item.slick-slide {
	    width: 450px;	    
	}
	.item.slick-slide.slick-center + .slick-slide {
		transform: scale(0.8) translate(-419px);
		z-index: 10;
	}
	.item.slick-slide.slick-active {
		transform: scale(0.8) translate(419px);
	}
	.item.slick-slide.slick-center {	  
		transform: scale(1);
		z-index: 30;
	}
 	.bonus {	
	padding: 8px 0;	 
	} 	
}
@media (max-width: 768px) { 
 	
	.item.slick-slide {
	width: 375px;
	height: auto;
	}
	.sl-item-btn {
		margin-top:10px;
	}
	.slick-prev {
    left: -18px;    
	}
    .slick-next {
    right: -18px;   
	}
	
}
@media (max-width: 576px) { 
 	.bg-header {		
		background-image: url("../img/bg-header.png");				
	}
	.item.slick-slide {
	width: 320px;	
	}
	.btn-buy {
	padding: 10px 25px;
	}
	.slick-prev {	
	left: -8px;
	text-align: left;
	}
	.slick-next {	
	right: -8px;
	text-align: right;
	}
	.bonus {	
	padding: 3px 0;	 
	}
	.social {
		margin-bottom:50px;		
	}
	.law p {
		padding-left: 20px;
	}
}